<h1>Danh sách trạm</h1>
<div class="row">
  <a routerLink="./create" class="btn btn-success m-2">Thêm trạm mới</a>
</div>
<table class="table text-center">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên trạm</th>
      <th>Tác vụ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of stations ; index as i">
      <th scope="row">{{i+1}}</th>
      <th>{{station.name}}</th>
      <th>
        <a class="btn btn-outline-primary" routerLink="./details/{{station.id}}"><i class="fas fa-info-circle"></i></a>
        <a class="btn btn-outline-warning m-2" routerLink="./edit/{{station.id}}"><i class="far fa-edit"></i></a>
        <a class="btn btn-outline-danger m-2" routerLink="./delete/{{station.id}}"><i class="fas fa-trash-alt"></i></a>

      </th>
    </tr>
  </tbody>
</table>
