<h1>Thay đổi mật khẩu</h1>

<form class="container" [formGroup]="changePasswordForm">
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Nhập mật khẩu hiện tại: </label>
        <input type="currentPassword" class="form-control" id="currentPassword" required><br/>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nhập mật khẩu mới: </label>
        <input type="newPassword" class="form-control" id="newPassword" required><br/>
        <!-- <div *ngIf="newPassword.touched && newPassword.newIsNotOld">
            Mật khẩu mới của bạn không được trùng với mật khẩu hiện tại
        </div> -->
    </div>
    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Nhập lại mật khẩu mới: </label>
        <input type="confirmNewPassword" class="form-control" id="confirmNewPassword" required><br/>
        <!-- <div *ngIf='confirm.touched && confirm.errors.newMatchesConfirm'>
            Không trùng khớp
        </div> -->
    </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
    <a class="btn btn-secondary" routerLink="../detail-staff">Thoát</a>
</form>
