<h1>Thay đổi mật khẩu</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nhập mẩu khẩu cũ: </label>
        <input type="oldPassword" class="form-control" id="exampleInputOldPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nhập mật khẩu mới: </label>
        <input type="newPassword" class="form-control" id="exampleInputNewPassword">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nhập lại mật khẩu mới: </label>
        <input type="newPassword1" class="form-control" id="exampleInputNewPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
    <a class="btn btn-secondary" routerLink="../detail-staff">Thoát</a>
</form>

<!-- <form class="container" [formGroup]="pwChangeForm">
  <label for="current">Mật khẩu hiện tại: </label>
  <input id="current" formControlName="current" type="password" required><br />

  <label for="newPW">Mật khẩu mới: </label>
  <input id="newPW" formControlName="newPW" type="password" required><br/>
  <div *ngIf="newPW.touched && newPW.newIsNotOld">
      Mật khẩu mới của bạn không được trùng với mật khẩu hiện tại
  </div>

  <label for="confirm">Xác nhận lại mật khẩu mới: </label>
  <input id="confirm" formControlName="confirm" type="password" required><br />
  <div *ngIf="confirm.touched && confirm.errors.newMatchesConfirm">
      Không trùng khớp
  </div>

  <button type="submit">Xác nhận</button>
</form> -->