<div class="container">
    <h1>Thông tin chi tiết của một chuyến</h1>
    <form> <!-- [formGroup]="editStaffForm" (ngSubmit)="updateStaff()" -->
    <div class="mb-3 row">
        <label for="exampleBirth" class="col-sm-2 col-form-label"><b>Ngày :</b></label>
        <input type="date" name="dateOfBirth" id="dateOfBirth">
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Số</th>
                <th scope="col">Trạng thái hiện tại</th>
                <th scope="col">Thời gian khởi hành</th>
                <th scope="col">Thời gian dừng xe</th>
                <th scope="col">Tên trạm cuối</th>
                <th scope="col">Số khách</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Thông tin chi tiết</th>
                <td>1</td>
                <td>Đang chạy</td>
                <td>07:00</td>
                <td>17:00</td>
                <td>Trạm Z</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
    </div>
    <a class="btn btn-secondary" routerLink="../create-route">Thoát</a>
    </form>
</div>