<div class="container">
  <h1>Cập nhật thông tin nhân viên</h1>
  <form [formGroup]="editStaffForm" (ngSubmit)="updateStaff()" >
  <div class="mb-3 row">
      <label for="exampleStaffName" class="col-sm-2 col-form-label"><b>Tên nhân viên :</b></label>
      <input formControlName="staff_name" type="text" class="form-control col-sm-5" id="exampleStaffName">
  </div>
  <!-- <div class="mb-3 row">
      <label for="exampleGender" class="col-sm-2 col-form-label"><b>Giới tính :</b></label>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Nam</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Nữ</label>
      </div>
  </div>
  <div class="mb-3 row">
      <label for="exampleBirth" class="col-sm-2 col-form-label"><b>Ngày sinh :</b></label>
      <input type="date" name="dateOfBirth" id="dateOfBirth">
  </div>
  <div class="mb-3 row">
      <label for="exampleIdentityNumber" class="col-sm-2 col-form-label"><b>Số CMND :</b></label>
      <input formControlName="identity_number" type="text" class="form-control col-sm-5" id="exampleIdentityNumber">
  </div> -->
  <button type="submit" class="btn btn-primary m-2">Cập nhật</button>
  <a class="btn btn-secondary" routerLink="../">Thoát</a>
  </form>
</div>
