<h1>Thông tin Nhân viên</h1>
<a class="btn btn-outline-success" routerLink="../edit-staff/">Chỉnh sửa thông tin</a>
<a class="btn btn-outline-primary" routerLink="../change-password/">Thay đổi mật khẩu</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Thông tin nhân viên</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tên</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Giới tính</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Ngày sinh</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Số CMND</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Chức vụ</th>
        <td></td>
      </tr>
    </tbody>
  </table>