<h1>Thêm chi tiết trạm</h1>
<div class="container">
  <form [formGroup]="" >
    <div class="form-group row">
      <label for="name" class="form-label col-md-2">Tổng số trạm</label>
      <input type="text" formControlName="total_route" class="form-control col-md-6" >
    </div>

      <button type="submit" class="btn btn-primary m-2">Thêm trạm mới</button>
      <a class="btn btn-secondary" routerLink="../" href="">Trở lại danh sách</a>
  </form>
<!--
  <form
  autocomplete="off"
  #bookForm="ngForm"
  (ngSubmit)="addBook(bookForm.value)"
  >
  <div class="form-group">
    <label for="bookName">Book Name</label>
    <input name="name" [ngModel]="book.name" type="text" class="form-control">

    <label for="year">Year</label>
    <input  name="year" [ngModel]="book.year" type="text" class="form-control">

    <label for="stars">Stars</label>
    <input  name="stars" [ngModel]="book.stars" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mr-1">Save</button>

  </form>
  <pre>{{ bookForm.value | json }}</pre>


</div> -->



