<div class="container-fluid">
      <div class="row justify-content-center ">
        <div class="col-12 text-center animate__animated animate__bounce space__top">
          <h1 class="font-style">Chào mừng bạn đến với Wibus</h1>
        </div>
        <div class="col-12 space__bot "></div>
        <div class="col-12">
          <div class="row justify-content-center">
            <input type="text" matInput [formControl]="fromStationControl" [matAutocomplete]="auto" class="col-md-3 form-control font-style" placeholder="Chọn trạm đi ...">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getFromId(option.id)">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <input type="text" matInput [formControl]="toStationControl" [matAutocomplete]="auto2" class="col-md-3 form-control font-style" placeholder="Chọn trạm đến ...">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option" (click)="getToId(option.id)">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <button type="submit" class="col-md-1 btn btn-success " (click)="search(fromStationId,toStationId)"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>

    <div class="line">
    </div>
</div>
