<div class="container">
    <h1>Phân công điều hành tuyến</h1>
    <form> <!-- [formGroup]="editStaffForm" (ngSubmit)="updateStaff()" -->
    <div class="mb-3 row">
        <label for="exampleBirth" class="col-sm-2 col-form-label"><b>Ngày :</b></label>
        <input type="date" name="dateOfBirth" id="dateOfBirth">
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Danh sách các tuyến</th>
                <th scope="col">Tên điều hành viên</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Nguyễn Văn Thộn</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mai Xuân Hiếu</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Trần Đức Tài</td>
              </tr>
            </tbody>
          </table>
    </div>
    <a class="btn btn-outline-secondary" routerLink="../detail-trip">Thông tin chi tiết</a>
    <a class="btn btn-outline-primary" routerLink="../list-route">Danh sách tuyến đã chạy</a>
    <a class="btn btn-outline-success" routerLink="../list-trip">Danh sách các chuyến đã được lên kế hoạch</a>
    </form>
</div>