<div class="row my-3 text-font">
    <h1 class="app-page-title col-md-4">Đăng ký người dùng mới</h1>
</div>
<div class="app-card shadow-sm mb-4 ">
    <div class="inner">
        <div class="app-card-body p-3 p-lg-4">
            <div class="row gx-5 gy-3">
                <div class="col-12">
                    <form>
                        <div class="mb-3 space__display">
                            <label for="exampleUserName" class="col-sm-2 col-form-label"><b>Tên đăng nhập:</b></label>
                            <input formControlName="user_name" type="text" class="form-control col-sm-5"
                                id="exampleUserName">
                        </div>
                        <div class="mb-3 space__display">
                            <label for="exampleUserName" class="col-sm-2 col-form-label"><b>Mật khẩu:</b></label>
                            <input formControlName="user_password" type="text" class="form-control col-sm-5"
                                id="exampleUserPassword">
                        </div>
                        <div class="mb-3 space__display">
                            <label for="exampleName" class="col-sm-2 col-form-label"><b>Họ và tên:</b></label>
                            <input formControlName="name" type="text" class="form-control col-sm-5"
                                id="exampleName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleGender" class="col-sm-2 col-form-label"><b>Giới tính :</b></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Nữ</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleBirth" class="col-sm-2 col-form-label"><b>Ngày sinh :</b></label>
                            <input type="date" name="dateOfBirth" id="dateOfBirth">
                        </div>
                        <div class="mb-3 space__display">
                            <label for="exampleIdentityNumber" class="col-sm-2 col-form-label"><b>Số CMND :</b></label>
                            <input formControlName="identity_number" type="text" class="form-control col-sm-5"
                                id="exampleIdentityNumber">
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Xác nhận</button>
                        <a class="btn btn-secondary" routerLink="../">Thoát</a>
                    </form>
                </div>
                <!--//col-->
            </div>
            <!--//row-->
        </div>
        <!--//app-card-body-->
    </div>
    <!--//inner-->
</div>
<!--//app-card-->