.body{
  background-image: url('../../../../assets/images/Untitled-1.jpg') ;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nav-style {
  &__title {
    font-size: 21px;
    // text-decoration: underline;
  }

  &__title-sub{
    font-size: 16px;
  }

  &__line{
    border-bottom: 1px radius;
  }
}

.margin-r {
  margin-right: 70px;
}

.nav-link{
  color:#F5F5F5 !important;
  // color: black !important;

  &:hover {
    color :#FADF48 !important;
  }
}
