<h1>Chỉnh sửa trạm {{station?.name}}</h1>
<div class="container">
  <form [formGroup]="editStationForm" (ngSubmit)="updateStation()">
    <div class="form-group row">
      <label for="name" class="form-label col-md-2">Tên trạm : </label>
      <input type="text" formControlName="name" id="name" class="form-control col-md-6">
    </div>
      <button type="submit" class="btn btn-primary m-2">Sửa thông tin</button>
      <a class="btn btn-secondary" routerLink="../../" >Trở lại danh sách</a>
  </form>
</div>



